/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* tailwind css init */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* declaring color variables */
:root {
  --primary: #333;
  --secondary: #f1f1f1;
}

/* body styling */
body {
  background-color: var(--secondary);
  color: var(--primary);
  font-family: "Inter", sans-serif;
}

/* add smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* utility styling */
.slogan-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/banner/banner-4.jpg);
  background-position: center;
  background-size: cover;
}

/* container */
.container-special {
  max-width: 100rem;
  margin: 0 auto;
}

.slogan {
  background-image: url(/banner/banner-1.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.question {
  clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%);
}

li{
  position: relative;
  overflow: hidden;
  height: 1.7rem;
  transition: all 0.3s ease-in-out;
}

li > a{
  display: block;
  transition: all 0.3s ease-in-out;
  transform: translateY(100%);
}

li::before{
  content: attr(data-replace);
  position: absolute;
  left: 0;
  top: 0%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

li:hover > a{
  transform: translateY(0%);
}

li:hover::before{
  top: -100%;
}

svg > line {
  stroke-dashoffset: 2000;
  stroke-dasharray: 10;
  animation: animate 20s linear infinite;
}

#event-card-1 {
  transition-delay: 200ms;
}

#event-card-2 {
  transition-delay: 400ms;
}

#event-card-3 {
  transition-delay: 600ms;
}

@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}

@layer components {
  .btn {
    @apply bg-orange-400 text-gray-100 px-6 py-2 rounded-md cursor-pointer border border-orange-400 transition duration-500 hover:bg-transparent hover:text-orange-500;
  }
}
